{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="home">
		<div class="home-picture">
			<div class="home-slogan">Bienvenue sur SnowTricks</div>
			<a href="#tricks" class="arrow">
				<i class="fa-solid fa-circle-arrow-down fa-3x "></i>
			</a>
		</div>

	</div>
{% endblock %}
