.home {
   &-picture {
      background: url("/public/assets/images/home_picture.webp");
      height: calc(100vh - 68.125px);
      background-position: top;
      background-repeat: no-repeat;
      width: 100%;
      background-size: cover;
      position: relative;

      .arrow {
         position: absolute;
         bottom: 30px;
         right: 30px;
         color: var(--color-primary);
      }
   }
   &-slogan {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10vw;
      color: var(--color-primary);
      font-size: var(--title-font-size);
      font-weight: 500;
   }
}
