.info-separator {
   background: rgb(94, 104, 117);
   width: 1px;
   margin: 0 0.4rem;
   height: 15px;
}

.block-separator {
   width: 95%;
   margin-top: 1rem;
   margin-bottom: 1rem;
   border: 0;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.block-separator-bis {
   width: 100%;
   margin-top: 1rem;
   margin-bottom: 1rem;
   border: 0;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
}
