:root {
   --color-primary: #1d232a;
   --title-font-size: clamp(15px, 2vw, 40px);
   --border-radius: 10px;
   --border-color: rgb(204, 204, 204);
   --edit-button: rgb(7, 145, 7);
   --delete-button: rgb(177, 2, 2);
}
